name: Copilot Setup Steps

on: workflow_dispatch

jobs:
  copilot-setup-steps:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      checks: read
      statuses: write
      id-token: write
      pull-requests: write

    env:  
      AZURE_CLIENT_ID: "c277c2aa-5326-4d16-90de-98feeca69cbc"
      AZURE_TENANT_ID: "72f988bf-86f1-41af-91ab-2d7cd011db47"

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install azsdk mcp server
        shell: pwsh
        run: |
          ./eng/common/mcp/azure-sdk-mcp.ps1 -InstallDirectory $HOME/bin
